body{
	font: 16px Verdana, sans-serif;
	margin: 0px;
	background-color: #dbeacc;
	color: #181a12;
}

h2 {
	font: bold 16px Verdana, sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
}
h3 {
	font: bold 20px Verdana, sans-serif;
	color: #508E00;/*#5A9F00;*/
	margin: 5px 0px;
}

#logo_box {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -48px;
	margin-left: -255px;
}

#top_box {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	height: 200px;

	background-image: linear-gradient(bottom, rgb(106,154,54) 0%, rgb(38,60,15) 100%);
	background-image: -o-linear-gradient(bottom, rgb(106,154,54) 0%, rgb(38,60,15) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(106,154,54) 0%, rgb(38,60,15) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(106,154,54) 0%, rgb(38,60,15) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(106,154,54) 0%, rgb(38,60,15) 100%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(106,154,54)),
	color-stop(1, rgb(38,60,15))
	);

}

#mid_bar {
	position: absolute;
	left: 0px;
	top: 200px;
	right: 0px;
	height: 80px;

	background-image: linear-gradient(bottom, rgb(135,156,115) 0%, rgb(41,49,33) 100%);
	background-image: -o-linear-gradient(bottom, rgb(135,156,115) 0%, rgb(41,49,33) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(135,156,115) 0%, rgb(41,49,33) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(135,156,115) 0%, rgb(41,49,33) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(135,156,115) 0%, rgb(41,49,33) 100%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(135,156,115)),
	color-stop(1, rgb(41,49,33))
);
}



#concept {
	font: 18px Verdana, sans-serif;
	color: #ffdd1d;
	width: 350px;
	margin: auto;
	margin-top: 27px;
	text-align: center;
}


#content {
	position: absolute;
	width: 860px;
	left: 50%;
	margin-left: -450px;
	top: 300px;
	bottom: 0px;
	min-height: 300px;
}

#menu_box {
	position: absolute;
	right: 30px;
	top: 300px;
	width: 270px;
	height: 70px;
}
#menu_bk {
	position: absolute;
	left: 10px;
	top: 20px;
	right: 10px;
	bottom: 20px;
	background: #c3dba6;

}
.link_shape {
	position:absolute;
	width: 70px;
	height: 70px;
	background: #b6d989;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
}

#link1 {
	position:absolute;
	left: -22px;
	top: 24px;
	width: 110px;
	text-align: center;
}
#link2 {
	position: absolute;
	left: 87px;
	top: 24px;
	width: 90px;
	text-align: center;

}
#link3 {
	position:absolute;
	left: 189px;
	top: 13px;
	width: 90px;
	text-align: center;
}
a.blue_link:link {
	color: #009554;
	text-decoration: none;
}
a.blue_link:visited {
	color: #009554;
	text-decoration: none;
}
a.blue_link:active {
	color: #009554;
	text-decoration: none;
}
a.blue_link:hover {
	color: #00cd74;
	text-decoration: none;
}

#shape1{
	left: 0px;
	top: 0px;
}
#shape2{
	left: 100px;
	top: 0px;
}
#shape3{
	left: 200px;
	top: 0px;
}
#descrip {
	position: absolute;
	left: 20px;
	top: 40px;
	bottom: 40px;
	width: 400px;
	/*background-color: #b2d4c7;*/
}

#arrow {
	position: relative;
	width: 137px;
	height: 128px;
	left: 480px;
	top: 120px;
}

.descrip.intro {
	padding-bottom: 20px;
	padding-left: 0px;
}

.code{
	margin: 15px 0px;
	padding: 30px 0px;
	background-color: #f1f6e9;
}
.code .line {
	padding: 6px 10px;
}

.code .line:nth-child(odd){
	background-color: #e8f0db;
}
.code .tab {
	padding-left: 60px;
}
.code .line .basement{
	color: #099884;
}
.code .line .method{
	color: #549de8;
}
.code .line .identifier{
	color: #bf81ec;
}
.code .line .operator{
	color: #0040cf;
}
.code .line .parent{
	color: #5a6b91;
}
.code .line .string{
	color: #81b219;
}

#button_box {
	position: absolute;
	left: 640px;
	top: 100px;
}

#test_label {
	position: absolute;
	left: 20px;
	top: 125px;
	width: 180px;
}


#test_button {
	position: absolute;
	width: 120px;
	height: 38px;
	top: 50px;
	left: 20px;
	border: 1px solid #267d64;
	border-radius: 12px;
	box-shadow: #00775e 5px 5px 0px;
	text-align: center;
	padding-top:10px;
	font: bold 23px Verdana;
	color: #f3f3af;
	text-shadow: #667537 -1px -1px 0px;
	cursor: hand;
	cursor: pointer;\

	background-image: linear-gradient(bottom, rgb(13,143,106) 0%, rgb(145,222,195) 100%);
	background-image: -o-linear-gradient(bottom, rgb(13,143,106) 0%, rgb(145,222,195) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(13,143,106) 0%, rgb(145,222,195) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(13,143,106) 0%, rgb(145,222,195) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(13,143,106) 0%, rgb(145,222,195) 100%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(13,143,106)),
	color-stop(1, rgb(145,222,195))
);
}

#test_button:hover {
	box-shadow: #00775e 6px 6px 0px;
	top: 49px;
	left: 19px;

	background-image: linear-gradient(bottom, rgb(42,159,110) 0%, rgb(177,231,207) 100%);
	background-image: -o-linear-gradient(bottom, rgb(42,159,110) 0%, rgb(177,231,207) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(42,159,110) 0%, rgb(177,231,207) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(42,159,110) 0%, rgb(177,231,207) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(42,159,110) 0%, rgb(177,231,207) 100%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(42,159,110)),
	color-stop(1, rgb(177,231,207))
);
}

#test_button:active {
	box-shadow: #00775e 1px 1px 0px;
	top: 54px;
	left: 24px;
	background-image: linear-gradient(bottom, rgb(72,168,24) 0%, rgb(168,234,127) 100%);
	background-image: -o-linear-gradient(bottom, rgb(72,168,24) 0%, rgb(168,234,127) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(72,168,24) 0%, rgb(168,234,127) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(72,168,24) 0%, rgb(168,234,127) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(72,168,24) 0%, rgb(168,234,127) 100%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(72,168,24)),
	color-stop(1, rgb(168,234,127))
);
}
